body {
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  background-image: url(../images/the-flatiron-building.png);
  font-size: 23px;
  font-weight: bold;
}

h4{
  font-size: 23px;
  font-size: bold;
}

p{
  font-size: 14px;
}

#nav_list{
  font-size: 18px;
}

li {
  list-style-type: none;
}

.back_image{
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

#footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
